{% extends "base.html" %}
{% block title %}Edit Page{% endblock %}
{% block content %}
  <!--TEMPLATE: editingapage.html -->
  {% if user.is_authenticated %}
    <h1 class="heading">Editing</h1>
    <section>
      {{ form.media }}
      <form action="/submiteditedpage:{{ page.id }}/" method="post">
        {% csrf_token %}
        {% for field in form %}
          {{ field }}
          {% if field.errors %}
            <div class="alert alert-error">
              <strong>{% for error in field.errors %}{{ error }}{% endfor %}</strong>
            </div>
          {% endif %}
        {% endfor %}
        <input type='submit' value='Submit'>
      </form>
    </section>
  {% endif %}
  <!--ENDTEMPLATE-->
{% endblock %}
