{% extends "base.html" %}
{% block title %}Main Page{% endblock %}
{% block topthings %}
  <div id="topthings">
    <h1 class="heading2">List Of Stories</h1>
  </div>
{% endblock %}
{% block content %}
  <!--TEMPLATE: home.html -->
    <section>
      {% if rootPages %}
        <ul id="storyList">
          {% for Page in rootPages %}
            <li><a href="/Page:{{Page.id}}">{{Page.action}}</a></li>
          {% endfor %}
        </ul>
      {% endif %}
      {% if user.is_staff %}
        <form id="actionform" action="/writenextPage:0/" method="get">
          <input type="hidden" name="Pageid" value="0">
          <input type="submit" value="Create new root Page">
        </form>
      {% endif %}
    </section>
  <!--ENDTEMPLATE-->
{% endblock %}
