{% extends "base.html" %}
{% block title %}Main Page{% endblock %}
{% block topthings %}
  <div id="topthings">
    <h1 class="heading2">List Of Stories</h1>
  </div>
{% endblock %}
{% block content %}
  <!--TEMPLATE: home.html -->
    <section>
      {% if rootpages %}
        <ul id="storyList">
          {% for page in rootpages %}
            <li><a href="/page:{{page.id}}">{{page.short_desc}}</a></li>
          {% endfor %}
        </ul>
      {% endif %}
      {% if user.is_staff %}
        <form id="short_descform" action="/writenextpage:0/" method="get">
          <input type="hidden" name="pageid" value="0">
          <input type="submit" value="Start New Story">
        </form>
      {% endif %}
    </section>
  <!--ENDTEMPLATE-->
{% endblock %}
