{% extends "blank.html" %}
{% block content %}
  <!--TEMPLATE: nextpages.html-->
  {% if nextpage1 and not nextpage2 %}
    <p style="color: #2F6188; font-size: 200%; display: inline;">
      <a href="/page:{{nextpage1.id}}">Next Page</a>
    </p>
  {% endif %}
  <a id="view-tree" href="/viewtree:{{ page.id }}/">View Story Tree</a>
  {% if nextpage2 %}
    <p style="color: #2F6188; display: inline;">What happens next?</p>
    <ul id="storyList">
      <li><a href="/page:{{nextpage1.id}}">{{nextpage1.short_desc}}</a></li>
      <li><a href="/page:{{nextpage2.id}}">{{nextpage2.short_desc}}</a></li>
    </ul>
  {% endif %}
  {% if not nextpage1 or not nextpage2 %}
    {% include "writethenextpart.html" %}
  {% endif %}
  <!--ENDTEMPLATE-->
{% endblock %}
