{% extends "base.html" %}
{% block title %}{{ node.action }}{% endblock %}
{% block topthings %}
{% if node.parent %}
<a id="previous" href="/node:{{ node.parent.id }}/">prev</a>
<h1 class="heading">{{ node.action }}</h1>
{% else %}
<h1 class="heading2">{{ node.action }}</h1>
{% endif %}
{% endblock %}
{% block content %}
<!--TEMPLATE: node.html -->
<section>
<div id="storyDescription">
{{ node.text|safe }}
</div>
<hr/>
<p id="nodestats">
Author: {{ node.author }} | Points: {{ node.points }}
{% if user.is_authenticated %}
{% if not voted_already %}
<form id="voteform" action="/vote:{{ node.id }}/" method="POST"> 
    {% csrf_token %}
    <input type="submit" value="vote">
</form>
{% endif %}
{% endif %}
</p>
<hr/>
What do you want to do next?
{% include "nextnodes.html" %}
</section>
<!--ENDTEMPLATE-->
{% endblock %}
