{% extends "base.html" %}
{% block title %}{{ page.short_desc }}{% endblock %}
{% block topthings %}
  <div id="topthings">
    {% if page.parent %}
      <a id="previous" href="/page:{{ page.parent.id }}/">prev</a>
    {% else %}
      <a id="previous" href="/">prev</a>
    {% endif %}
      <h1 class="heading">{{ page.short_desc }}</h1>
    {% if page_is_users or user.is_staff %}
      <form id="edit-button" action="/editpage:{{ page.id }}/" method="get">
        <input type="hidden" name="pageid" value="{{page.id}}">
        <input type="submit" value="Edit Page">
      </form>
    {% endif %}
    {% if user.is_staff %}
      <a id="delete-button" href="/deletebranch:{{ page.id }}/">
        <button onclick="return confirm('Are you sure you would like to delete this branch? This page and every page following it will be deleted.');">Delete Branch</button>
      </a>
    {% endif %}
  </div>
{% endblock %}
{% block content %}
  <!--TEMPLATE: page.html -->
  <section>
    <img id="{{ illustration_sizing }}" src="{{ page.illustration.url }}" />
    <div id="storyDescription">
      {{ page.long_desc|safe }}
    </div>
    {% include "fontscript.html" %}
    {% if nextpage1 or user.is_authenticated %}
      <hr/>
      <p style="color: #2F6188; display: inline;">What happens next?</p>
      <a id="view-tree" href="/viewtree:{{ page.id }}/">View Story Tree</a>
      {% include "nextpages.html" %}
    {% endif %}
  </section>
  <!--ENDTEMPLATE-->
{% endblock %}
