{% extends "blank.html" %}
{% block content %}
  <!--TEMPLATE: treescript.html-->
  <script>
    window.onload = function(){
      var canvas = document.getElementById("tree-canvas");
      var ctx = canvas.getContext("2d");
	
      //Lets resize the canvas to occupy the section
      canvas.style.width = "100%";
      var W = canvas.offsetWidth;
      var H = canvas.offsetWidth;
      canvas.width = W;
      canvas.height = H;
        
      var pagearray = {{ array|safe }}
        
      canvas.addEventListener("mousemove", on_mousemove, false);
      canvas.addEventListener("click", on_click, false );
        
      function addLink(page, x, y) {
        page.extra = {
          "x": 0,
          "y": 0,
          "linkWidth": 20,
          "linkHeight": 20,
          "inLink": false,
        }
        page.extra.x = x - page.extra.linkWidth/2;
        page.extra.y = y - page.extra.linkHeight/2;
        ctx.beginPath();
        ctx.rect(page.extra.x, page.extra.y, page.extra.linkWidth, page.extra.linkHeight);
        ctx.fillStyle = 'yellow';
        ctx.fill();
        ctx.lineWidth = 1;
        ctx.strokeStyle = 'brown';
        ctx.stroke();
      }
        
      function on_mousemove(ev) {
        var x, y;
          
        // Get the mouse position relative to the canvas element.
        if (ev.layerX || ev.layerX) { //for firefox
          x = ev.layerX;
          y = ev.layerY;
        }
        x-=canvas.offsetLeft;
        y-=canvas.offsetTop;
          
        document.body.style.cursor = "";
        //is the mouse over a link?
        for (var i=0;i<pagearray.length;i++) {
          var page = pagearray[i];
          page.extra.inLink = false;
          if(x>=(page.extra.x-page.extra.linkWidth/2) && x <= (page.extra.x-page.extra.linkWidth/2 + page.extra.linkWidth) && y>=page.extra.y && y<= (page.extra.y+page.extra.linkHeight)){
            document.body.style.cursor = "pointer";
            page.extra.inLink = true;
          }
        }
      }
        
      function on_click(ev) {
        for (var i=0; i<pagearray.length;i++) {
          if (pagearray[i].extra.inLink == true) {
            window.location = "/page:"+pagearray[i].id+"/";
          }
        }  
      }
        
      //Some variables
      var length, divergence, reduction, line_width, start_points = [];
	
      //filling the canvas white
      ctx.fillStyle = "white";
      ctx.fillRect(0, 0, W, H);
        
      //length of the trunk
      length = 125;
      //angle at which branches will divergee
      divergence = 45
      //Every branch will be the length of the previous branch times
      //this number
      length_reduction = .75;
      width_reduction = .90;
      //width of the branch/trunk
      line_width = 15;
      
      //make the line brown
      ctx.strokeStyle = "brown"
        
      ctx.beginPath();
      ctx.moveTo(W/2, 45);
      ctx.lineTo(W/2, 50);
      ctx.lineWidth = line_width;
      ctx.stroke();
      addLink(pagearray[0], W/2, 50);
        
      make_branches(0, W/2, 50, 90, length, line_width);
	
      function make_branches(index, begin_x, begin_y, last_angle, last_length, last_width) {
        last_length = last_length * length_reduction;
        last_width = last_width * width_reduction;
        ctx.lineWidth = last_width;
        if (pagearray[index].child2id != 0) {
          ctx.strokeStyle = "brown";
          ctx.beginPath();
          var ep1 = get_endpoint(begin_x, begin_y, last_angle+divergence, last_length);
          var ep2 = get_endpoint(begin_x, begin_y, last_angle-divergence, last_length);
          var child1index = find_child(pagearray[index].child1id);
          var child2index = find_child(pagearray[index].child2id);
          ctx.moveTo(begin_x, begin_y);
          ctx.lineTo(ep1.x, ep1.y);
          ctx.moveTo(begin_x, begin_y);
          ctx.lineTo(ep2.x, ep2.y);
          ctx.stroke();
          addLink(pagearray[child1index], ep1.x, ep1.y);
          addLink(pagearray[child2index], ep2.x, ep2.y);
          make_branches(child1index, ep1.x, ep1.y, last_angle+divergence, last_length, last_width);
          make_branches(child2index, ep2.x, ep2.y, last_angle-divergence, last_length, last_width);
        }
        else if (pagearray[index].child1id != 0) {
          ctx.beginPath();
          var ep1 = get_endpoint(begin_x, begin_y, last_angle, last_length);
          ctx.moveTo(begin_x, begin_y);
          ctx.lineTo(ep1.x, ep1.y)
          ctx.stroke();
          var child1index = find_child(pagearray[index].child1id);
          addLink(pagearray[child1index], ep1.x, ep1.y);
          make_branches(child1index, ep1.x, ep1.y, last_angle, last_length, last_width);
        }
    }
        
      function find_child(childid) {
        for (var j=0; j<pagearray.length; j++) {
          if (pagearray[j].id == childid) {
            return j;
          }
        }
        return 0;
      }
	
      function get_endpoint(x, y, a, length) {
        //This function will calculate the end points based on simple vectors
        //http://physics.about.com/od/mathematics/a/VectorMath.htm
        //You can read about basic vectors from this link
        var epx = x + length * Math.cos(a*Math.PI/180);
        var epy = y + length * Math.sin(a*Math.PI/180);
        return {x: epx, y: epy};
      }
    }
  </script>
  <!--ENDTEMPLATE-->
{% endblock %}
