{% extends "blank.html" %}
{% block content %}
  <!--TEMPLATE: writethenextpart.html-->
  {% if user.is_authenticated %}
    <li>
      <form id="short_descform" action="/writenextpage:{{ page.id }}/" method="get">
        <input type="hidden" name="pageid" value="{{page.id}}">
        <input type="submit" value="Write the next part of the story here!">
      </form>
    </li>
  {% else %}
    <li><a href="/login/">Log in</a> to write the next part of the story here!</li>
  {% endif %}
  <!--ENDTEMPLATE-->
{% endblock %}
