{% extends "base.html" %}
{% block title %}New Page{% endblock %}
{% block content %}
  <!--TEMPLATE: writinganewpage.html -->
  {% if user.is_authenticated %}
    <script type="text/javascript">
        $(document).ready(function() {
          $('#id_short_desc')
              .each(function() {
                  $(this).data('default', this.value);
                  $(this).css("color", "gray")
              })
              .focusin(function() {
                  if ( this.value == $(this).data('default') ) {
                      this.value = '';
                      $(this).css("color", "black")
                  }
              })
              .focusout(function() {
                  if ( this.value == '' ) {
                      this.value = $(this).data('default');
                      $(this).css("color", "gray")
                  }
              });                   
        }); 
    </script> 
    <h1 class="heading">Write the next part of the story!</h1>
    <section>
      {{ form.media }}
      <form enctype="multipart/form-data" action="/submitnewpage:{{ parentid }}/" method="post">
        {% csrf_token %}
        {% for field in form %}
          {{ field }}
          {% if field.errors %}
            <div class="alert alert-error">
              <strong>{% for error in field.errors %}{{ error }}{% endfor %}</strong>
            </div>
          {% endif %}
        {% endfor %}
        <input type='submit' value='Submit'>
      </form>
    </section>
  {% endif %}
  <!--ENDTEMPLATE-->
{% endblock %}
