{% extends "base.html" %}
<!--This template was originally developed by John Lillis-->
{% block title %}Login - ourstorybook{% endblock %}
{% load url from future %}
{% block content %}
  <div class="offset3 span6">
    <form action="{% url 'django.contrib.auth.views.login' %}" method="post">
      {% csrf_token %}
      <legend>Login</legend>
      {% if form.errors %}
        <div class="alert alert-error fade-in">
          <strong>Invalid username and/or password,</strong> please try again.
        </div>
      {% endif %}
      <fieldset>
        <label>Username:</label>
        {{ form.username }}
        <label>Password:</label>
        {{ form.password }}
      </fieldset>
      <div class="form-actions">
        <input class="btn btn-primary" type="submit" value="Login"/>
        <a class="btn btn-link" href="/register/">Click here to create an account.</a>
	<input type="hidden" name="next" value="{{ next }}"/>
      </div>
    </form>
  </div>
{% endblock %}
