{% extends "base.html" %}
{% block title %}Register - ourstorybook{% endblock %}
{% block content %}
  <div class="offset3 span6"/>
    <form action="" method="post">{% csrf_token %}
      <legend>Register</legend>
      <fieldset>
        {% for field in form %}
          <div class="control-group {% if field.errors %}error{% endif %}">
            <label class="control-label">{{ field.label }}</label> 
            <div class="controls">{{ field }}
              {% if field.errors %}
                <div class="alert alert-error">
                  <strong>{% for error in field.errors %}{{ error }}{% endfor %}</strong>
                </div>
              {% else %}
                {% if field.help_text %}
                  <p class="help-block"><small>{{ field.help_text }}</small></p>
                {% endif %}
              {% endif %}
            </div>
          </div>
        {% endfor %}
      </fieldset>
      <div class="form-actions">
        <input class="btn btn-primary" type="submit" value="Submit"/>
      </div>
    </form>
  </div>
{% endblock %}
