/* Import Google fonts */
@import url(http://fonts.googleapis.com/css?family=Oswald);

/* Global <body> style */
body {
    margin: 0px;
    font-family: 'Oswald', sans-serif;
}

a {
    color: #66A3D2;
}

a:hover {
    color: #0B61A4;
}

/* Site <header> style */
header {
    background: #1B6FB0;
}

header h1 {
    padding: 20px;
    margin: 0px;
    text-align: right;
    color: #FFFFFF;
    background: #1B6FB0;
}
header nav {
    padding: 20px;
    float: left;
    font-weight: normal;
    font-size: 1.5em;
    margin-right: 15px;
}
header nav a, header nav a:visited {
    text-decoration: none;
    color: #88B9DF;
}
header nav a:hover {
    color: #FFFFFF;
}
header nav a, header nav span {
    margin-right: 10px;
}

/* Site <section> style */
section {
    margin: 0px 30px 0px 30px;
    padding: 10px;
    border: 1px dotted #1B6FB0;
    font-family: 'Oswald', sans-seriff;
}

/* Site heading block style */
.heading {
    display: inline;
    color: #0A4878;
}

.heading2 {
    display: inline;
    margin-left: 30px;
    color: #0A4878;
}

#topthings {
    min-height: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
}

#previous {
    display: inline-block;
}

/* Site body style */
#storyDescription {
    font-family: sans-seriff;
}

#storyDescription p {
    margin-top: -1%;
    margin-right: -1%;
    margin-bottom: -1%;
}

.button {
    padding: 2px 5px 2px 5px;
    background-color: #DDD;
    border: 1px solid #1B70B0;
    border-radius: 10px;
    color: #1B70B0;
    text-decoration: none;
    font-size: 0.9em;
}

/* Site footer style */
footer {
    margin: 0px 30px 0px 30px;
    padding-top: 10px;
}
#djangoIcon {
    float: right;
}

.errorlist {
    display: none;
}

#storyList {
    margin-top: 0px;
    margin-bottom: 0px;
}

#nodestats {
    display: inline;
    color: #2F6188;
}

#approveform {
    display: inline;
}
